:root {
  --font-fam-h: "Roboto", sans-serif;
  --color-blc: rgb(20, 20, 20);
  --color-org: rgb(191, 96, 36);
  --color-bgr-grei: rgb(234, 237, 242);
  --color-foo-text: rgb(66, 66, 66);
  --color-btn-text-1: rgb(229, 198, 178);
  --color-btn-text-2: rgb(191, 96, 36);
  --color-border-bottom: rgb(122, 122, 122);
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
a,
ul,
li,
h1,
h2,
h3,
p,
button,
div {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.conteiner {
  width: 1142px;
  margin: 0 auto;
  font-family: var(--font-fam-h);
}
.header {
  color: #7a7a7a;
  text-transform: uppercase;
}
.header-top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  border-bottom: 1px solid var(--color-border-bottom);
}
.logo-block {
  display: flex;
  align-items: end;
  gap: 18px;
}
.list-contekts {
  display: flex;
  align-items: center;
  gap: 18px;
}
.logo-block h2 {
  font-size: 14px;
  color: rgb(67, 74, 92);
}
.list-contekts a {
  font-size: 14px;
}
.list-contekts li:nth-child(1) a {
  color: #576698;
  text-decoration: underline;
}
.list-contekts li:nth-child(2) a {
  color: #484848;
}
.header-bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}
.sait-nav {
  display: flex;
  gap: 18px;
}
.bizness-nav {
  display: flex;
  gap: 18px;
}
.header-bottom-nav a {
  color: #7a7a7a;
}
.sait-nav li:nth-child(4) a {
  color: #141414;
}
/* секция банер */
.banner {
  border-bottom: 1px solid var(--color-border-bottom);
}
.banner img {
  margin-bottom: 24px;
}
/* стили для заголовка секции информации */
.section-info-leisure {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 72px;
  column-gap: 30px;
}
.section-info {
  border-bottom: 1px solid var(--color-border-bottom);
  padding-bottom: 90px;
}
.section-info-h1 {
  font-family: var(--font-fam-h);
  color: var(--color-blc);
  margin-top: 27px;
  text-transform: uppercase;
  font-size: 64px;
  width: 735px;
}
.section-info-h2 {
  font-family: var(--font-fam-h);
  color: var(--color-org);
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: 33px;
}
.section-info-h3 {
  font-family: var(--font-fam-h);
  color: var(--color-blc);
  font-size: 14px;
  margin-top: 12px;
  text-transform: uppercase;
}
/* стили секции с информацией о проживании на курорте */
.info-accommodation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-bottom: 58px;
}
.luxury-apartments-reservation {
  background-image: url(img/houm.jpeg);
  background-repeat: no-repeat;
  height: 600px;
  background-color: var(--color-bgr-grei);
  padding-left: 34px;
  padding-bottom: 44px;
  box-sizing: border-box;
}
.df {
  display: flex;
  align-items: end;
}
.luxury-apartments-reservation {
  grid-column: 1;
  grid-row: 1 / 3;
}
.info-accommodation-grid h3 {
  font-size: 24px;
}
.luxury-apartments-reservation-h3 {
  margin-bottom: 24px;
  color: var(--color-btn-text-1);
}
.info-accommodation-favorable-prices {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--color-bgr-grei);
  padding-top: 84px;
  padding-left: 73px;
}
.info-accommodation-loyalty-program {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--color-bgr-grei);
  padding-top: 65px;
  padding-left: 73px;
}
.info-accommodation {
  border-bottom: 1px solid rgb(122, 122, 122);
}
.info-accommodation-h2 {
  font-family: var(--font-fam-h);
  color: var(--color-org);
  font-size: 28px;
  margin-top: 67px;
  margin-bottom: 31px;
}
.info-accommodation-favorable-prices h3 {
  margin-bottom: 28px;
}
.info-accommodation-loyalty-program h3 {
  margin-bottom: 11px;
}
.info-accommodation-loyalty-program p {
  width: 265px;
  margin-bottom: 23px;
}
.button-blokc {
  display: flex;
  gap: 11px;
}
.btn {
  display: inline-flex;
  gap: 10px;
  border-radius: 14px;
  border: solid 1px var(--color-org);
  padding: 5px 13px 5px 13px;
  text-transform: uppercase;
  font-weight: 500;
}
.luxury-apartments-reservation .button-blokc .btn:nth-child(1),
.info-accommodation-loyalty-program .button-blokc .btn:nth-child(1) {
  background-color: var(--color-org);
  color: var(--color-btn-text-1);
}
.luxury-apartments-reservation .button-blokc .btn:nth-child(2) {
  border: solid 1px var(--color-btn-text-1);
  color: var(--color-btn-text-1);
}
.info-accommodation-favorable-prices .btn,
.info-accommodation-loyalty-program .button-blokc .btn:nth-child(2) {
  border: solid 1px var(--color-org);
  color: var(--color-org);
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 185px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.footer a {
  color: var(--color-foo-text);
}
.footer ul:nth-child(1),
.footer ul:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer ul:nth-child(2) {
  gap: 30px;
}
.footer-privacy-policy li:nth-child(1) a {
  font-weight: 700;
}
.footer-feedback li:nth-child(1) a {
  font-weight: 700;
  text-decoration: underline;
}
